<h2><%= result.word %></h2>
<div class="tld-col">
  <ul>
    <% result.tlds.each do |tld| %>
    <li>
      <p>
      <%= "#{result.word}.#{tld}" %>&nbsp;
      <%= render partial: "welcome/data", locals: {term: result.word, taken: result[tld], tld: tld } %>
      </p>
    </li>
    <% end %>
  </ul>
</div>
<div class="whois-col">
  <div id="whois-box"></div>
</div>
