<h2><%= result.word %></h2>
<div class="tld-col">
  <% result.tlds.each do |tld| %>
  <ul class="unstyled">
    <li>
      <ul class="unstyled">
	<li>.<%= tld %></li>
	<li><%= render partial: "welcome/data", locals: {term: result.word, taken: result[tld], tld: tld } %></li>
      </ul>
    </li>
  </ul>
  <% end %>
</div>
<div class="whois-col">
  <div id="whois-box"></div>
</div>
