<form role="search" action="/search" method="get">
  <div class="form-group">
    <%= text_field_tag :q, params[:q], :placeholder => 'Search', :id => "search", :class => "form-control", :type => "text" %>
    <input type="submit" style="visibility:hidden;position:fixed;" />
  </div>
</form>
