<div class="jumbotron" id="search-box">
  <p>Bello!</p>
  <p>
    <%= render 'search' %>
  </p>
  <div class="row">
    <div class="col-md-4">
      <div id="results-box"></div>
    </div>
    <div class="col-md-4">
      <div id="whois-box"></div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
