<div class="jumbotron" id="search-box">
  <p>Start typing a domain name below: (e.g. for the website www.abc.com you'd type just “abc”)</p>
  <p>
    <%= render 'search' %>
  </p>
  <div id="results-box">
  </div>
</div>
