<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div id="footer" class="footer">
      <div class="footer">

	<a href="/">© 2014 Slice Domains.</a>
	&#183;
	<a href="#">Terms of Service</a>
	&#183;
	<a href="#">Privacy</a>

      </div>
      
    </div>
  </div>

</div>
